<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset ="UTP-8">
</head>
<form action = "create" method = "post">
    <div>
        <label for= "title">제목</label>
        <input type="text" id = "title" name="title" required>
    </div>
    <div>
        <label for = "content">내용</label>
        <input class="form-control" id="content" name="content" rows="3" required>
    </div>
    <div>
        <p><input type="date" id="date" name="date">날짜 입력</p>
        <P><input type="time" id="time" name="time">시간 입력</P>
    </div>
    <button>Submit</button>
</form>

</html>
